@font-face {
    font-family: font;
    src: url(ExpoArabic-Book.ttf);
    font-weight: 400;
}
@font-face {
    font-family: font;
    src: url(ExpoArabic-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: font;
    src: url(ExpoArabic-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: font;
    src: url(ExpoArabic-Medium.ttf);
    font-weight: 600;
}
@font-face {
    font-family: font;
    src: url(ExpoArabic-Light.ttf);
    font-weight: 300;
}